/* استایل برای نوار سبز بر اساس درصد */
.row-with-bar-100 {
    background: linear-gradient(90deg, #4CAF50 100%, transparent 100%);
}

.row-with-bar-90 {
    background: linear-gradient(90deg, #4CAF50 90%, transparent 90%);
}

.row-with-bar-80 {
    background: linear-gradient(90deg, #4CAF50 80%, transparent 80%);
}

.row-with-bar-70 {
    background: linear-gradient(90deg, #4CAF50 70%, transparent 70%);
}

.row-with-bar-60 {
    background: linear-gradient(90deg, #4CAF50 60%, transparent 60%);
}

.row-with-bar-50 {
    background: linear-gradient(90deg, #4CAF50 50%, transparent 50%);
}

.row-with-bar-40 {
    background: linear-gradient(90deg, #4CAF50 40%, transparent 40%);
}

.row-with-bar-30 {
    background: linear-gradient(90deg, #4CAF50 30%, transparent 30%);
}

.row-with-bar-20 {
    background: linear-gradient(90deg, #4CAF50 20%, transparent 20%);
}

.row-with-bar-10 {
    background: linear-gradient(90deg, #4CAF50 10%, transparent 10%);
}
